<h1>App en production</h1>

<%= link_to "se connecter", new_user_session_path %> 

<%= link_to "s'inscrire", new_user_registration_path %>

<%= link_to "se deconnecter", destroy_user_session_path, method: :delete %> 

<%= link_to "inscrire mon chien", new_dog_path %>
<%= link_to "modifier mes infos",  edit_user_registration_path %>

<% if user_signed_in? %>
<%= link_to "voir ma page profil", user_path(current_user.id) %>
<% end%>