

<% if user_signed_in? %>

<%= link_to "voir ma wishlist", wishlist_path(current_user.id)%> 
<% end %></br></br>


<%= render 'layouts/search' %>

<!-- Categories-->
<%= search_form_for @q do |f| %>

  <form class="form-group d-block align-self-center">
  <div class="card card-body p-2 p-md-3 shadow-sm m-4">
  <div class="row g-0 ms-sm-n2 mx-auto">
    <div class="col-md-7 d-flex">


    <div class="m-3">
<h3 class="icon-box-title fs-sm ps-1 pe-2"><%= f.label :Race %> <%= f.select(:breed_eq, options_for_select(Dog.breeds.map {|k, v| [k.humanize.capitalize, v]}, f.object.breed_eq), { include_blank: true }) %></h3></a></div>

    
<div class="m-3">
    <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0"><%= f.label :gender_eq, 'Femelles' %></br>
    <%= f.check_box :gender_eq, {}, 2, nil %></br>
  
    <%= f.label :gender_eq, 'Mâles' %>
    <%= f.check_box :gender_eq, {}, 1, nil %>
</h3></a></div>

<div class="m-3">
    <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0"><%= f.label :Pelage %><%= f.select(:color_eq, options_for_select(Dog.colors.map {|k, v| [k.humanize.capitalize, v]}, f.object.color_eq), { include_blank: true }, {class: "form-control" }) %> </h3></a>
</div>
   
<div class="m-3">
    <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Chiens récompensés
    <%= f.label :reward_eq, 'Oui' %>
    <%= f.check_box :reward_eq, {}, 0, nil %>
  
    <%= f.label :reward_eq, 'Non' %>
    <%= f.check_box :reward_eq, {}, 1, nil %></h3></a></div>

   
    <div class="m-3">
    <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">Vacciné <%= f.label :vaccine_eq, 'Oui' %> <%= f.check_box :vaccine_eq, {}, 0, nil %> <%= f.label :vaccine_eq, 'Non' %>
    <%= f.check_box :vaccine_eq, {}, 1, nil %></h3></a></div>

    
    <div class="m-3">
    <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0">LOF <%= f.label :lof_eq, 'Oui' %> <%= f.check_box :lof_eq, {}, 0, nil %>
     <%= f.label :lof_eq, 'Non' %> <%= f.check_box :lof_eq, {}, 1, nil %></h3></a></div>

     <div class="m-3">
     <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0"><%=  f.label 'Né avant le:' %>
     <%= f.date_field :birth_date_lteq, class: 'form-control input-sm', 'datepicker' => true %></h3></a></div>

<div class="m-3">
     <h3 class="icon-box-title fs-sm ps-1 pe-2 mb-0"><%=  f.label 'Né après le:' %>
     <%= f.date_field :birth_date_gteq, class: 'form-control input-sm', 'datepicker' => true %></h3></a></div>

     <div class="actions">
     <button class="btn btn-primary btn-lg rounded-pill mt-3" type="submit"><%= "Rechercher" %></button>
     </div>
     </div> 
     </div>
    
     <% end %>
     </div>
     </div>
     
     </div>
     
     </form>
   
  
      
   
     <div class="container-fluid text-center mb-5 mt-4">
     <div class="row justify-content-around">




     <a class="icon-box card flex-row align-items-center flex-shrink-0 card-hover border-0 shadow-sm">


<% @dogs.with_attached_pictures.each do |dog| %>
  
  <div class="col-md-3 mt-4">
  <div class="d-flex align-items-center flex-column">

  
<div class="card border-primary mb-3" style="max-width: 45rem;">



<div class="card-header text-center"> <%if dog.pictures.attached?%> <%=image_tag(dog.pictures.first)%> 

<% else %>
<%= image_tag("thumbnail_puppease.png", width:"70%") %>

<% end %>




<% dog.name %> </br> </div>





  
  <div class="card-body">
  <h5 class="card-title"><%= dog.name %></h5>
    <P class="card-text">Pelage : <%= dog.color %> </p>
    <P class="card-text">Race : <%= dog.breed%> </p>
    <P class="card-text">Genre : <%= dog.gender%> </p>
    <P class="card-text">Date de naissance : le <%= (dog.birth_date).strftime("%d/%m/%Y")%></p>

    <button type="button" class="btn btn-outline-primary"><%= link_to "En savoir plus", dog_path(dog)%></button>
   
    </div>
    </div> 
  </div>
</div>
<% end %>

</div>
</div>