<div class="px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
<!-- Breadcrumb-->
      <nav class="mb-3" aria-label="breadcrumb">

      </nav>

      <div class="d-sm-flex align-items-center justify-content-between mb-4 pb-sm-2 border-bottom pb-3 mb-4">
      <h1 class="h2 me-3 mb-sm-0">Inscrivez votre chien</h1></div>

      <!-- Page content-->
      <div class="row">
      <div class="card card-body p-4 p-md-5 shadow-sm col-6 m-4">
      
     
<%= form_for @dog, method: :post do |form| %>


<div class="mb-4">
<label for="file-input" class="form-label">Nom</label>
<input class="form-control" type="name" placeholder="Entrez son nom" required="" <%= form.text_field :name, autofocus: true %>
</div>


<div class="mb-4">
<label for="file-input" class="form-label">Genre</label>
<select class="form-control" <%= form.select :gender, Dog::genders.keys %>
</div>

<div class="mb-4">
<label for="file-input" class="form-label">Date de naissance</label>
<input class="form-control date-picker rounded pe-5" placeholder="date de naissance" required="" <%= form.date_field :birth_date %>
</div>

<div class="mb-4">
<label for="file-input" class="form-label">Description</label>
<textarea  class="form-control" type="text" placeholder="Sa description" required="" rows="5" <%= form.text_area :description, autofocus: true %>
</div>

<div class="mb-4">
<label for="file-input" class="form-label">Race</label>
<select class="form-control"<%= form.select :breed, Dog::breeds.keys.sort %>
</div>

<div class="mb-4">
<label for="file-input" class="form-label">Pelage</label>
<select class="form-control"<%= form.select :color, Dog.colors.keys %>
</div>

<div class="mb-4">
<label for="file-input" class="form-label">Inscrit au LOF</label>
<select class="form-control"<%= form.select :lof, Dog::lofs.keys %>
</div>

<div class="mb-4">
<label for="file-input" class="form-label">Vaccins à jour </label>
<select class="form-control"<%= form.select :vaccine, Dog::vaccines.keys %>
</div>


<div class="mb-4">
<label for="file-input" class="form-label">Récompenses</label>
<select class="form-control"<%= form.select :reward, Dog::rewards.keys %>
</div>

<!-- File input -->
<div class="mb-3">
  <label for="file-input" class="form-label">Photos</label>
  <input class="form-control" type="file" id="file-input"<%= form.file_field :pictures, multiple: true %>
</div>

<div class="actions">
<button class="btn btn-primary btn-lg rounded-pill w-100 mt-3" type="submit"><%= "Inscrire mon chien" %></button>
</div>

<% end %>

</div>


<div class="card card-body p-4 p-md-5 shadow-sm col-4 m-4 h-50">
<img class="rounded-3 img-fluid" alt="Rounded image" <%= image_tag("funny_dog.png") %>
</div>

</div>

</div>