

<%= form_with(model: place, local: true ) do |form| %>
 

<div class="m-5 W-100">
  <label for="text-input" class="form-label">Numéro et rue <span class="text-danger">*</span> </label>
  <input class="form-control" type="text" id="text-input"<%= form.text_field :street %>
</div>

<div class="m-5">
<label for="text-input" class="form-label">Code postal <span class="text-danger">*</span> </label>
<input class="form-control" type="text" id="text-input" <%= form.text_field :zip %>
</div>

<div class="m-5">
  <label for="text-input" class="form-label">Ville <span class="text-danger">*</span> </label>
  <input class="form-control" type="text" id="text-input" <%= form.text_field :city %>
</div>

<div class="actions">
<button class="btn btn-primary btn-lg rounded-pill w-100" type="submit"><%= "Enregistrer" %></button>
</div>

<% end %>

