
<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@place.latitude%>, <%=@place.longitude%>)
    });
    </script>
<% end %>

<p id="notice"><%= notice %></p>


  <p><div class="card card-body p-4 p-md-5 shadow-sm p-2 mb-4 mx-auto">
    <div class="position-relative mx-auto rounded" id="map"></div>
</p>


<p>
  <strong>Name:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> 
<%= link_to 'Back', places_path %>

<p>
    <div class="position-fixed" id="map"></div>
</p>

</div>

</div>


